<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Penjualan.My.MySettings.DBInventoryConnectionString" connectionString="Data Source=DESKTOP-2S6QLB7\SQLEXPRESSXTRADA;Initial Catalog=DBInventory;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
